
<form>
	<% if (hasPassword) { %>
		<input class="old-password" type="password" name="oldPassword" placeholder="Old Password"><br/>
	<% } else { %>
		<h1>We've added passwords to Disco! You must create a password!</h1>
	<% } %>

	<input class="new-password" type="password" name="newPassword" placeholder="New Password">


	<input type="submit">
</form>

<script>

	$('form').submit(function(e) {
		e.stopPropagation();
		e.preventDefault();

		var oldPassword = $('.old-password').val();
		var newPassword = $('.new-password').val();

		$.post('/change-password', {
			oldPassword: oldPassword,
			newPassword: newPassword
		}, function(data) {
			if (data.success) {
				alert('Success! Your password has been changed');
				window.location = '/logged-in';
			} else {
				alert(data.reason);
			}
		});

		return false;
	});

</script>