
<script>
	if (chrome) {
		setTimeout(function() {

			if (document.documentElement.getElementsByClassName('disco-identifier').length) {
				window.location = "/welcome";
			} else {
				
			}

		}, 300);
	} else {
		window.location = '/no-chrome';
	}
</script>

<style>

</style>

<div class="wrapper">
	<div class="disco_logo"><img src="/img/DiscoLogoBeta.png"></div>
</div>
