<!doctype html>
<html>
<head>
	<title><%= 'Disco Beta Dashboard' %></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery.js"></script>
	<script src="/js/async.js"></script>
	<script src="/js/string_score.min.js"></script>
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/edpngmdlbbfkmjhmoelpbhdalhmmjfap">
	<!-- chrome detect -->
	<style>
		body {
			font-family: 'Lato', sans-serif !important;
			-webkit-font-smoothing: antialiased !important;
		}

		.btn-custom {
			background-color: hsl(0, 0%, 23%) !important;
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949", endColorstr="#3a3a3a");
			background-image: -khtml-gradient(linear, left top, left bottom, from(#494949), to(#3a3a3a));
			background-image: -moz-linear-gradient(top, #494949, #3a3a3a);
			background-image: -ms-linear-gradient(top, #494949, #3a3a3a);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #3a3a3a));
			background-image: -webkit-linear-gradient(top, #494949, #3a3a3a);
			background-image: -o-linear-gradient(top, #494949, #3a3a3a);
			background-image: linear-gradient(#494949, #3a3a3a);
			border-color: #3a3a3a #3a3a3a hsl(0, 0%, 21.5%);
			color: #fff !important;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
			-webkit-font-smoothing: antialiased;
			width:100px;
		}

		.btn-custom-2 {
			background-color: hsl(29, 100%, 46%) !important;
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7b00", endColorstr="#ea7100");
			background-image: -khtml-gradient(linear, left top, left bottom, from(#ff7b00), to(#ea7100));
			background-image: -moz-linear-gradient(top, #ff7b00, #ea7100);
			background-image: -ms-linear-gradient(top, #ff7b00, #ea7100);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7b00), color-stop(100%, #ea7100));
			background-image: -webkit-linear-gradient(top, #ff7b00, #ea7100);
			background-image: -o-linear-gradient(top, #ff7b00, #ea7100);
			background-image: linear-gradient(#ff7b00, #ea7100);
			border-color: #ea7100 #ea7100 hsl(29, 100%, 45%);
			color: #fff !important;
			font-weight: normal !important;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06);
			-webkit-font-smoothing: antialiased;
		}

		.loading-overlay h5 {
			font-weight: 400;
			font-size: 13pt;
			line-height: 1.3em;
		}

		.hide-me {
			display: none;
		}

	</style>
	<script>
		var discoDetect = function(hasExtension, noExtension, noChrome) {
			$(function() {
				setTimeout(function() {
					if (window.chrome != null) {
						if (document.documentElement.getElementsByClassName('disco-identifier').length) {
							if (hasExtension) {
								window.location = hasExtension;
							}
						} else {
							if (noExtension) {
								window.location = noExtension;
							}
						}
					} else {
						if (noChrome) {
							window.location = noChrome;
						}
					}	
				}, 500);
			});
		}
	</script>
	<script src="/wormhole/service/connect.js"></script>
	<script>
		var sinceDate = new Date("2013-09-10T20:30:24.890Z");

		wh.ready(function () {
			$(function () {
				if ($('.activity-count').length) {
					wh.rpc.live();
					setInterval(setupDate, 60000);
					setupDate();
				}
			});
		});

		var colorTimeout = null;
		var colorTimeout2 = null;
		var didTheThing = false;
		wh.on("setTotalCount", function (err, count) {
			try {
				count = parseInt(count, 10);
				count = count.toLocaleString();
			} catch(ex) {

			}

			if (didTheThing && count.toString() !== $('.activity-count').text()) {

				clearTimeout(colorTimeout);
				$('.activity-count').text(count).css('color', '#f18d05');
				colorTimeout = setTimeout(function() {
					$('.activity-count').css('color', '');
				}, 1000);
			} else {
				didTheThing = true;
				$('.activity-count').text(count)
			}
		});


		var setupDate = function() {
			var currentDate = new Date();

			var diff = currentDate - sinceDate;

			var oldOne = $('.vanity-days').text();
			var newOne = Math.floor(diff / 1000 / 60 / 60 / 24).toString();

			if (oldOne && oldOne != newOne) {
				$('.vanity-days').text(newOne).css('color', '#f18d05');
				clearTimeout(colorTimeout2);
				colorTimeout2 = setTimeout(function() {
					$('.vanity-days').css('color', '');
				}, 1000);
			} else {
				$('.vanity-days').text(newOne);
			}
		}
	</script>
</head>
<body>
	<%- body %>
</body>
</html>