<!doctype html>
<html>
<head>
	<title><%= 'Disco Beta' %></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery.js"></script>
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<!-- chrome detect -->
	<script>
		var discoDetect = function(hasExtension, noExtension, noChrome) {
			$(function() {
				setTimeout(function() {
					if (window.chrome != null) {
						if (document.documentElement.getElementsByClassName('disco-identifier').length) {
							if (hasExtension) {
								window.location = hasExtension;
							}
						} else {
							if (noExtension) {
								window.location = noExtension;
							}
						}
					} else {
						if (noChrome) {
							window.location = noChrome;
						}
					}	
				}, 500);
			});
		}
	</script>
</head>
<body>
	<%- body %>
</body>
</html>