<!doctype html>
<html>
<head>
	<title><%= 'Disco Beta Dashboard' %></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery.js"></script>
	<script src="/js/async.js"></script>
	<script src="/js/string_score.min.js"></script>
	<link href="/bootstrap/css/bootstrap.css" r
	<link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
	<link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/edpngmdlbbfkmjhmoelpbhdalhmmjfap">
	<!-- chrome detect -->
	<style>
		body {
			font-family: 'Lato', sans-serif !important;
		}
	</style>
	<script>
		var discoDetect = function(hasExtension, noExtension, noChrome) {
			$(function() {
				setTimeout(function() {
					if (window.chrome != null) {
						if (document.documentElement.getElementsByClassName('disco-identifier').length) {
							if (hasExtension) {
								window.location = hasExtension;
							}
						} else {
							if (noExtension) {
								window.location = noExtension;
							}
						}
					} else {
						if (noChrome) {
							window.location = noChrome;
						}
					}	
				}, 500);
			});
		}
	</script>
	<script src="/wormhole/service/connect.js"></script>
	<script>
		var sinceDate = new Date("2013-09-10T20:30:24.890Z");

		wh.ready(function () {
			$(function () {
				if ($('.activity-count').length) {
					wh.rpc.live();
					setInterval(setupDate, 60000);
					setupDate();
				}
			});
		});

		var colorTimeout = null;
		var colorTimeout2 = null;
		var didTheThing = false;
		wh.on("setTotalCount", function (err, count) {
			try {
				count = parseInt(count, 10);
				count = count.toLocaleString();
			} catch(ex) {

			}
			
			if (didTheThing && count.toString() !== $('.activity-count').text()) {

				clearTimeout(colorTimeout);
				$('.activity-count').text(count).css('color', '#f18d05');
				colorTimeout = setTimeout(function() {
					$('.activity-count').css('color', '');
				}, 1000);
			} else {
				didTheThing = true;
				$('.activity-count').text(count)
			}
		});


		var setupDate = function() {
			var currentDate = new Date();

			var diff = currentDate - sinceDate;

			var oldOne = $('.vanity-days').text();
			var newOne = Math.floor(diff / 1000 / 60 / 60 / 24).toString();

			if (oldOne && oldOne != newOne) {
				$('.vanity-days').text(newOne).css('color', '#f18d05');
				clearTimeout(colorTimeout2);
				colorTimeout2 = setTimeout(function() {
					$('.vanity-days').css('color', '');
				}, 1000);
			} else {
				$('.vanity-days').text(newOne);
			}
		}
	</script>
</head>
<body>
	<%- body %>
</body>
</html>