<script>
$(function() {
	$('#test').on('submit', function(e) {
		e.stopPropagation();
		e.preventDefault();

		var email = $('.email').val();

		if (email && email.length) {
			$.post('/add-friend', {email: email}, function(data) {
				if (data.success) {
					window.location.reload();
				} else if (data.reason === 'not-yourself-bro') {
					alert("You can't add yourself, bro");
				} else if (data.reason === 'no-account') {
					alert('Nobody found with that email, bro');
				} else {
					alert('Something went wrong, bro');
				}
			});
		} else {
			alert('dude... type an email');
		}
	})
});
</script>

	<h1>Welcome to project disco, <%= email %></h1>
	<img src="/user/profilePhoto/<%= accountId %>">
	<a href="/logout">Log out</a><br/>
	<a href="/fixed-position-tests.html">Fixed Position Tests</a>
	<h2>Friends:</h2>
	<ul>
	<% for (var n = 0; n < friends.length; n++) { %>
		<li><%= friends[n].email %></li>
	<% } %>
	</ul>

	<form id="test">
		<input type="email" class="email" placeholder="Friend's email">
		<input type="submit">
	</form>

	<form method="POST" action="/uploadPhoto" enctype="multipart/form-data">
		<input type="file" name="displayImage"></input>
		<input type="submit" value="upload">
	</form>