<h1 style="margin-top:25px">Log in to Project Disco</h1>
<div>
	<form id="login">
		<input class="email" type="email" placeholder="Email">
		<input type="submit">
	</form>
</div>

<a style="display:block;border:1px solid #666;position:absolute;top:0;left:0;padding:2px 5px" href="/welcome">
	Back
</a>

<script>
	if (chrome) {
		setTimeout(function() {

			if (document.documentElement.getElementsByClassName('disco-identifier').length) {
				
			} else {
				window.location = 'extension-get';
			}

		}, 300);
	} else {
		window.location = '/no-chrome';
	}
</script>

<script>
	$('form').on('submit', function(e) {
		e.preventDefault();
		var email = $('.email').val();

		if (email && email.length) {
			$.post('/login', {
				email:email
			}, function(data) {
				if (data && data.success) {
					window.location = '/logged-in';
				} else if (data.message) {
					alert(data.message);
				} else {
					alert('No dice');
				}
			});
		}
	});
</script>