<script>
	if (chrome) {
		setTimeout(function() {

			if (document.documentElement.getElementsByClassName('disco-identifier').length) {
				window.location = "/welcome";
			} else {
				window.location = '/extension-get';
			}

		}, 300);
	} else {
		
	}
</script>

<style>

	.wrapper {
			width:500px;
			padding-top: 85px;
			margin: 0 auto;
		}

	.btn-custom {
			background-color: hsl(0, 0%, 23%) !important;
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#494949", endColorstr="#3a3a3a");
			background-image: -khtml-gradient(linear, left top, left bottom, from(#494949), to(#3a3a3a));
			background-image: -moz-linear-gradient(top, #494949, #3a3a3a);
			background-image: -ms-linear-gradient(top, #494949, #3a3a3a);
			background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #3a3a3a));
			background-image: -webkit-linear-gradient(top, #494949, #3a3a3a);
			background-image: -o-linear-gradient(top, #494949, #3a3a3a);
			background-image: linear-gradient(#494949, #3a3a3a);
			border-color: #3a3a3a #3a3a3a hsl(0, 0%, 21.5%);
			color: #fff !important;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
			-webkit-font-smoothing: antialiased;
		}

	.no_chrome_text {
		margin-left:29px;
		margin-top: 48px;
	}

	.itawesome {
		margin-top:-5px;
		margin-left: 25px;
	}


	.wrapper img {
		max-width:100%; 
		max-height:100%
	}

	.chrome_containter {
		display:inline-block;
		height: 50px;
		margin-left: 93px;
		margin-top: 32px;
	}

	.btn_download{
		margin-left:20px;
	}

</style>

<div class="wrapper">
	<div class="disco_logo"><img src="/img/DiscoLogoBeta.png"></div>
	<div class="no_chrome_text">
		<div><h4> To get started, you'll need the Chrome Web Browser </h4></div>
		<div class = "itawesome"> (It's an awsome browser, you'll never look back - We Promise) </div>
	</div>
	<div class="chrome_containter"><a href="http://www.google.com/intl/en/chrome/browser/" target="_blank"><img src="/img/chromeGet.png"></a></div>
	<a href="http://www.google.com/intl/en/chrome/browser/" target="_blank"> <button class="btn btn-inverse btn_custom btn_download">Get Chrome</button> </a>
</div>

