<style>
	button.btn, input {
		font-family: 'Lato', sans-serif !important;
	}

	h4 {
		font-weight: normal;
	}
	.wrapper {
		width:500px;
		padding-top: 50px;
		margin: 0 auto;
	}

	.enter_email {
		display: inline-block !important;
		height: 10px !important;
	}

	.collect_email {
		margin-top: 20px;
	}

	.txt_email {
		
	}

	.enter_pic {
		margin-top: 30px;
	}	

	.enter_pic_req {
		margin-top: -8px !important;
	}

	.signup_nativation {
		margin-top: 25px;
	}

	.disco_content {
		text-align: center;
		padding-bottom:10px;
	}

	.collect_email input, .collect_password input{
		width: 218px;
	}	

	#firstName{
		width: 100px;
		margin-right: 2px;
	}

	#lastName{
		width: 100px;		
	}

	.btn-cancel {
		position: absolute;
		left: calc(50% - 28px);		
		font-size: 0.9em;
		text-align: center;
		margin-top:5px;
		text-decoration: none;
		z-index: 400;
	}

	.btn-cancel span {
		position: static !important;
		margin-top: 0px !important;
		margin-left: 0px !important;
		color: black !important;
		opacity: 0.6;
	}

	.btn-cancel span:hover {
		opacity: 0.9;
		cursor: pointer;
		text-decoration: none;
	}

	select, input[type="file"] {
		line-height: 8px !important;
	}
	.file_uploader {
		margin-right: auto;
		margin-left: auto;
		margin-top: 15px;
		width: 232px;
	}

	.loading-overlay {
		position: absolute;
		margin-right: auto;
		margin-left: -200px;
		top: 260px;
		width: 900px;
		height: 500px;
		background: white;
		opacity: 0.95;
		text-align: center;
		z-index:200;
	}

	.loading-overlay h5 {
		font-weight: 400;
		font-size: 13pt;
		line-height: 1.3em;
	}

	.photo_upload h5 {
	}

	.disco_content span.error-text {
		position: absolute;
		margin-top: 5px;
		margin-left: 11px;
		color: red;
	}

	.photo_upload span.error-text {
		position:static;
		font-weight:normal;
		text-align: center;
		display:block;
	}
	.photo_upload span.error-text.hide-me {
		display:none;
	}

</style>

<form method="post" enctype="multipart/form-data">

	<div class="wrapper">
		<div class="loading-overlay hide-me">
			<img src="/img/loading_transparent.gif">
			<h5>Signing you up... <br>
			Like a wrecking ball</h5>
		</div>
		<div class="disco_logo"><img src="/img/DiscoLogoBeta.png"></div>
		<div class="disco_content">
			<h4 style="margin-top: 32px;"><span style="font-weight:300; padding-right:3px">1)</span> Set up your account: </h4> 
			<div class="collect_email"> 
				 <input autocomplete="off" class="txt_email" id="email" name="email" type="text" placeholder="Email" value="<%= email %>"> <span class='hide-me error-text'> Please enter an email! </span>
			</div>
			<div class="collect_names">
				<input class="txt_name" autocomplete="off" id="firstName" name="firstName" type="text" placeholder="First Name" value="<%= firstName %>"> 
				<input class="txt_name" autocomplete="off" id="lastName" name="lastName" type="text" placeholder="Last Name" value="<%= lastName %>"> <span class='hide-me error-text'> Please enter both a first and last name! </span>
			</div>
			<div class="collect_password"> 
				 <input class="txt_password" id="password" name="password" type="password" placeholder="Password" value=""> <span class='hide-me error-text'> Please enter a password :)</span>
			</div>
			<div class="photo_upload">
				<div class="enter_pic"><h4><span style="font-weight:300; padding-right:3px">2)</span> Select a photo of your pretty face!</h4></div>
				<div class="enter_pic_req"><h5><strong>(required):</strong></h5></div>
				<span class="hide-me error-text"> Please upload a photo, good looking ;D </span>

				<!-- <button class="btn btn-inverse btn_custom btn_upload">Choose Photo</button> -->
				<div class="file_uploader"> <input type="file" accept="image/*"  name="picture" id="picture"></div>
				<img class="selected-file-upload" src="#" alt="your profile picture" />
				<!-- <div class="photo_name"> No photo selected </div> -->
			</div>
			<div class="signup_nativation">
				<% if(message) { %>
					<p style="font-size=10pt;color:#f00">
						<%- message %>
					</p>
				<% } %>
				<input value = "Create Account" onclick="" type="submit" class="btn btn-large btn-custom-2"></input>
				<!-- <a href="/welcome"> <button class="btn btn-large btn-custom" onclick="window.location = '/welcome'; return false">Cancel</button></a> -->
				<div class="btn-cancel"><span onclick="window.location = '/welcome'; return false">or Cancel</span></div>
	 		</div>
		</div>
	</div>

</form>

<script>
	$('form').submit(function(e){
		//Get all the fields values:
		var emailVal = $(".txt_email").val().trim(); 
		var validEmail = emailVal.indexOf('@') > -1 && emailVal.indexOf('.') > -1 && emailVal.lastIndexOf('.') > emailVal.indexOf('@');
		var email = emailVal != '';
		var firstName = $($(".txt_name")[0]).val().trim() != '';
		var lastName = $($(".txt_name")[1]).val().trim() != '';
		var password = $(".txt_password").val().trim() != '';
		var profilePic = $(".file_uploader input").val().trim() != '';

		console.log(email,validEmail,firstName, lastName, password, profilePic);

		//Reset Error Messages:
		$('.collect_email span').addClass('hide-me');
		$('.collect_names span').addClass('hide-me');
		$('.collect_password span').addClass('hide-me');
		$('.photo_upload span').addClass('hide-me');

		if (validEmail && firstName && lastName && password && profilePic) {
			$('.loading-overlay').removeClass('hide-me');
		} else {
			if(!validEmail) {
				$('.collect_email span').removeClass('hide-me');
			}
			if(!firstName || !lastName) {
				$('.collect_names span').removeClass('hide-me');
			} 
			if (!password) {
				$('.collect_password span').removeClass('hide-me');
			}
			if (!profilePic) {
				$('.photo_upload span').removeClass('hide-me');
			}

			e.preventDefault(); //stop the form from actually submitting
		}



	});

</script>

<script>
	$(".txt_email").focus();
</script>

<script>
	$("#picture").change(function(){
		if (this.files && this.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('.selected-file-upload').attr('src', e.target.result);
			}

			reader.readAsDataURL(this.files[0]);
		}
	});
</script>