<script>
	if (chrome) {
		setTimeout(function() {

			if (document.documentElement.getElementsByClassName('disco-identifier').length) {

			} else {
				window.location = "/extension-get";				
			}

		}, 300);
	} else {
		window.location = '/no-chrome';
	}
</script>

<style>

	.wrapper {
		width:500px;
		padding-top: 85px;
		margin: 0 auto;
	}

	.enter_email {
		display: inline-block !important;
		height: 10px !important;
		margin-left: 63px !important;
	}

	.collect_email {
		margin-top: 48px;

	}

	.txt_email {
		
		
	
	}

</style>



<div class="wrapper">
	<div class="disco_logo"><img src="/img/DiscoLogoBeta.png"></div>
	<div class="disco_content">
		<div class="collect_email"> 
			 <div class="enter_email"> <h4> Enter Your Email: <h4> <div> 
			 <input class="txt_email" type="email" placeholder="Email">
		</div>
		<div class="photo_upload">
			<h4> Choose a profile photo:  </h4> 

		</div>


	</div>
</div>




<!-- <a style="display:block;border:1px solid #666;position:absolute;top:0;left:0;padding:2px 5px" href="/welcome">
	Back
</a>

<h1 style="margin-top:25px">Register</h1>

<p>This is complicated stuff... listen up.</p>

<form method="post" enctype="multipart/form-data">

	<% if(message) { %>
		<p style="font-size:12pt;color:#f00;font-weight:bold">
			<%- message %>
		</p>
	<% } %>

	<div>
		<label for="email">Step 1: Enter your email</label>
		<input type="email" name="email" id="email" value="<%= email %>">
	</div>

	<div>
		<label for="picture">Step 2: Choose a photo</label>
		<input type="file" name="picture" id="picture">
	</div>

	<p>Was that so hard?!</p>
	<input type="submit">
</form> -->