<script>
	if (chrome) {
		setTimeout(function() {

			if (document.documentElement.getElementsByClassName('disco-identifier').length) {

			} else {
				window.location = "/extension-get";				
			}

		}, 300);
	} else {
		window.location = '/no-chrome';
	}
</script>

<style>

</style>
<a style="display:block;border:1px solid #666;position:absolute;top:0;left:0;padding:2px 5px" href="/welcome">
	Back
</a>

<h1 style="margin-top:25px">Register</h1>

<p>This is complicated stuff... listen up.</p>

<form method="post" enctype="multipart/form-data">

	<% if(message) { %>
		<p style="font-size:12pt;color:#f00;font-weight:bold">
			<%- message %>
		</p>
	<% } %>

	<div>
		<label for="email">Step 1: Enter your email</label>
		<input type="email" name="email" id="email" value="<%= email %>">
	</div>

	<div>
		<label for="picture">Step 2: Choose a photo</label>
		<input type="file" name="picture" id="picture">
	</div>

	<p>Was that so hard?!</p>
	<input type="submit">
</form>