<script src="/js/simplee.js"></script>
<script src="/js/Socket.IO-ExtensionClient.js"></script>
<script src="/js/simplewebrtc.bundle.js"></script> 
<style>
    #remoteVideos video {
        height: 150px;
    }
    #localVideo {
        height: 150px;
    }
</style>
<script>
	var webrtc = new SimpleWebRTC({
	    // the id/element dom element that will hold "our" video
	    localVideoEl: 'localVideo',
	    // the id/element dom element that will hold remote videos
	    remoteVideosEl: 'remoteVideos',
	    // immediately ask for camera access
	    autoRequestMedia: true
	});
	var rtcReady = false;
	var joinRTCRoom = function (room) {
		if (rtcReady) {
			webrtc.joinRoom(room);
		} else {
			setTimeout(function () {
				joinRTCRoom(room);
			}, 300);
		}
	};
	wh.on("joinRTCRoom", joinRTCRoom);
	var _readyToGo = false;
	webrtc.on('readyToCall', function () {
		// you can name it anything
		// if (rtcReady)
		rtcReady = true;
		if (_readyToGo) {
			wh.rpc.getStreamChannel();
		}
		_readyToGo = true;
	});
	wh.on("ready", function () {
		// we have to wait until it's ready
		if (_readyToGo) {
			wh.rpc.getStreamChannel();
		}
		_readyToGo = true;
	});
</script>
<video id="localVideo"></video>
<div id="remoteVideos"></div>