<script>
	//Get out ma source!
</script>

<style>
	button.btn, input {
		font-family: 'Lato', sans-serif !important;
		font-weight:300;
	}
	.wrapper {
		width:500px;
		padding-top: 130px;
		margin: 0 auto;
	}

	.button_wrapper {
		margin-top:38px;
		text-align: center;
	}

	.button_wrapper-2 {
		text-align: center;
	}

	
	a:nth-of-type(1) {
		margin-right: 10px;
	}

	a:hover {
		text-decoration:none !important;
	}

	.vanity-wrapper-wrapper {
		min-width:10px;
		text-align: center;
		margin-top: 15px;
		-webkit-animation: fadeIn 1.6s linear 0s;
	}
	.vanity-wrapper {
		margin-top:24px;
		padding-left:24px;
		font-size:18pt;
		font-weight:300;
		line-height:25px;
		color:#666;
		min-width:100px;
		display:inline-block;
		margin:0 auto;
		text-align: left;
		width:500px;
	}
	.vanity-line {
		width:500px;
	}

	.vanity-caption {
		display:inline-block;
		width:170px;
		text-align: right;
		margin-right: 1px;
	}
	
	.vanity-days, .activity-count {
		-webkit-transition: color 0.3s ease-in-out;
		font-weight: 300;
		display: inline-block;
		min-width:20px;
		clear:none;
	}

	.btn-login {
		width: 63px;
		font-weight: normal !important;
	}

	.login-wrapper {
		position: fixed;
		top: 15px;
		right: 10px;
	}

	.login-wrapper span {
		display:inline-block;
		width:169px;
	}

	.btn-signup {
		font-weight: normal !important;
		width:230px;
		height:50px;
		/*font-size:15pt;*/
	}
	.btn-cancel {
		color: black;			
		font-size: 0.9em;
		text-align: center;
		margin-top:5px;
		text-decoration: none;
		margin-left: -6px;
	}

	.btn-cancel span {
		opacity: 0.6;
	}
	.btn-cancel span:hover {
		opacity: 0.9;
		cursor: pointer;
		text-decoration: none;
	}

	.started {
		margin-top: 48px;
		text-align: center;
		font-weight: normal !important;
	}

	.dontworry {
		text-align: center;
		margin-top: -1px;
		font-weight: normal !important;
	}

	.btn-getstarted {
		font-weight: normal !important;
		width:137px;
		height:50px;
	}

	@-webkit-keyframes fadeIn {
		0%{opacity:0;}
		40%{opacity:0;}
		100%{opacity:100;}
	}


</style>
	<div class = "login-wrapper"> <span> Already have an account? </span> <a href="/login"> <button class="btn btn-inverse btn-custom btn-login">Log In</button> </a> </div>
<div class="wrapper">
	<div class="disco_logo"><img src="/img/DiscoLogoBeta.png"></div>
	
	<div class="vanity-wrapper-wrapper">
		<div class="vanity-wrapper">
			<div class="vanity-line"><div class="vanity-caption">days in beta: </div><span class="vanity-days"></span>
			<div class="vanity-caption">messages sent: </div><span class="activity-count"></span></div>
		</div>
	</div>
	<div class="button_wrapper">
		<a href="/register"> <button class="btn btn-inverse btn-large btn-custom-2 btn-signup">Get Disco and Sign Up!</button></a>
		<div class="btn-cancel"><span onclick="window.alert('Welcome to Disco!\nClick the orange button to get started, if you have any questions or concerns get in touch with us at: team@groupnotes.ca')">Help!</span></div>
		
	</div>
</div>


